* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: white;
  display: flex;
  align-items: center;
}

.header img {
  height: 80px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  padding: 5px;
}

#email {
  width: 200px;
  height: 22px;
  border-radius: 3px;
  border: 0;
  margin: 4px;
}

#password {
  width: 120px;
  height: 22px;
  border-radius: 3px;
  border: 0;
  margin: 4px;
}

:placeholder-shown {
  padding-left: 7px;
}

#button-entrar {
  width: 50px;
  height: 22px;
  border-radius: 3px;
  border: 0;
  margin: 4px;
}

#main {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  flex-basis: auto;

}

#imgSection {
  display: flex;
  align-self: baseline;

}

#trybewarts-forms-logo {
  height: 500px;
}

#evaluation-form {
  width: 675px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-self: baseline;
  align-content: space-between;
}
h2 {
  text-align: center;

}

.nameLastname {
  display: flex;
  margin: 5px;
}

.emailHouse {
  display: flex;
}