* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: white;
  display: flex;
  align-items: center;
}

.header img {
  height: 80px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  padding: 5px;
}

#email {
  width: 200px;
  height: 22px;
  border-radius: 3px;
  border: 0;
  margin: 4px;
}

#password {
  width: 120px;
  height: 22px;
  border-radius: 3px;
  border: 0;
  margin: 4px;
}

:placeholder-shown {
  padding-left: 7px;
}

#button-entrar {
  width: 50px;
  height: 22px;
  border-radius: 3px;
  border: 0;
  margin: 4px;
}

#main {
  background-color: rgb(238, 236, 236);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  flex-basis: auto;

}

#imgSection {
  display: flex;
  align-self: baseline;
}

#trybewarts-forms-logo {
  height: 500px;
}

#evaluation-form {
  width: 675px;
  padding: 10px;
  margin-left: 45px;
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.nameLastname {
  display: flex;
  margin: 5px;
}

#input-name {
  width: 48%;
  height: 30px;
  border-radius: 3px;
  margin-bottom: 15px;
  border: 0;
}

#input-lastname {
  width: 48%;
  height: 30px;
  border-radius: 3px;
  margin-bottom: 15px;
  border: 0;
}

.emailHouse {
  display: flex;
}

#input-email {
  width: 48%;
  height: 30px;
  border-radius: 3px;
  margin-bottom: 15px;
  border: 0;
}

#house {
  width: 40%;
  height: 30px;
  border-radius: 3px;
  margin-bottom: 15px;
  margin-left: 3%;
  border: 0;
  background-color: white;
}

#familiConteudo{
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  
}

#familia {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}

#conteudo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 47%;
}

#label-content {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}



#avaliation-trybewarts {
  display: flex;
  flex-direction: row;
}