* {
  padding: 0;
  margin: 0;

}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.header img {
  height: 80px;

}

.trybewarts-header-logo {
  width: 5%;
}

.trybewarts-login {
  display: flex;
}

body main {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
  display: flex;
  align-self: flex-end;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  align-items: center;

}

.main {
  display: flex;
  justify-content: center;
}

.nameLastname {
  display: flex;
}

.emailHouse {
  display: flex;
}

.trybewarts-forms-logo {
  display: flex;
  flex-direction: column-reverse;
}
